<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src="/mcqueen.jpg">
    <img src="/mater.jpg">
    <img src="/hix1.jpg">
    <img src="/hix.jpg">
</body>
</html>