<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/cat2"><img src="/Siamese.jpg"></a>
    <a href="/cat3"><img src="/vamp-1.jpg"></a>
    <a href="/cat1"><img src="/kelso.jpg"></a>
    <a href="/cat4"><img src="/bath.jpg"></a>
</body>
</html>