<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    *{
        text-align: center;
    }
</style>
<body>
    <h1>Counter</h1>
    <h3><%=count%></h3>
    <a href="/add2">Add to Counter</a>
    <a href="/reset">Reset Counter</a>
</body>
</html>