<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    h1{
        text-decoration: underline;
    }
</style>
<body>
    <h1>Submitted Information</h1>
    <h3>Name: <%=results.name%></h3>
    <h3>Dojo Location: <%=location%></h3>
    <h3>Favorite Language: <%=language%></h3>
    <h3>Comment: <%=comment%></h3>
    <a href="/">Go Back</a>
</body>
</html>